body{
    display: block;
    padding: 0 10vw;
}
.logo{
    margin: 20px auto 50px;
    cursor: pointer;
}
.arrow{
    transform: rotate(180deg);
    width: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 150px ;    
    border-top: 1px solid #dbdbdb;
}
.product-card {
    margin: 30px 18px 30px 0;
}
.tag{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #fff;
    color: #383838;
}
.card-action-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.5s;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
.product-card:hover .card-action-btn{
    opacity: 1;
    pointer-events: all;
}
.card-action-btn img {
    height: 18px;
}
.open-btn{
    top: 60px;
}
.delete-btn{
    background-color: #f25252;
}
.hide{
    display: none;
    
}